<%- model_class = Publication -%>

  <div class="container">
    <div class="well">
        <center>
            <h2><font face="Courier New" color="red" size = "60px"><%= @publication.description %></font></h2>    
            <%= image_tag @publication.image, size: "500x350", class: 'img-rounded' %>       
        </center>
        </br>
        </br>

        <h2><font face="Courier New" color="red" >Postado por : </font><font face="Arial" color="black"><%= @publication.user %></font></h2>
        <h2><font face="Courier New" color="red" >Data da postagem: </font><font face="Arial" color="black"><%= @publication.created_at %></h2>
        <h2><font face="Courier New" color="red" >Preparo: </font><font face="Arial" color="black"><%= @publication.preparation %></font></h2>

        
        <ul>
    </div>
  </div>

<!--<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= @publication.description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:image) %>:</strong></dt>
  <dd><%= @publication.image %></dd>
  <dt><strong><%= model_class.human_attribute_name(:preparation) %>:</strong></dt>
  <dd><%= @publication.preparation %></dd>
  <dt><strong><%= model_class.human_attribute_name(:user) %>:</strong></dt>
  <dd><%= @publication.user %></dd>
  
</dl>-->

<%= link_to t('.back', :default => t("helpers.links.back")),
              publications_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_publication_path(@publication), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              publication_path(@publication),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
